#intro {
    background: #FFFFFF;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(153, 153, 153, 1) 100%);
    scroll-margin-top: 6rem;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

#cover {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
    opacity: 0.5;
}

.nav.flex-column {
    width: 200px;
    min-width: 150px;
}