#cover-img {
    opacity: 0.5;
}

#intro {
    background: #FFFFFF;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(153, 153, 153, 1) 100%);
    height: 100vh;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

#intro-cover {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    opacity: 0.5;
}